.navbar{
    height:70px;
    background: #65769f;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    border-bottom:1px solid #e5e7eb;
}

.navbar-left h2{
    color:#0f0f10;
    font-size:16px;
}

.logout-btn{

    background:#000000;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    transition:.25s;

}

.logout-btn:hover{

    background:#1d4ed8;

}